<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Project Records</h4>
                        <p class="category">Following projects, that we all are working on that</p>
                        <p textRight>Total Project:{{projectCount}}</p>
                    </div>
                    <div class="add-project">
                        <a (click)="addProject()" class="btn btn-primary btn-round">Add More Projects</a>
                     </div>   
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>S.No</th>
                                    <th>Project Name</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let project of projects; let i =index">
                                    <td>{{i+1}}.</td>
                                    <td>{{project?.projectName}}</td>
                                    <td>{{project?.projectDesc}}</td>
                                    <td>{{project?.projectStartDate}}</td>
                                    <td>{{project?.projectEndDate}}</td>
                                    <td class="text-center">
                                         <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons" (click)="editProject(project)">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="material-icons" (click)="deleteProject(project)">close</i>
                                        </button>
                                    </td>
                                    <td>
                                    <div class="add-project">
                                        <a (click)="assignProject()" class="btn btn-success">Assign Project</a>
                                     </div> 
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>

                       
  
                      <!--   <p-paginator rows="10" totalRecords="{{projectCount}}" (onPageChange)="paginate($event)">></p-paginator>
 -->
                    <div class="loader_gif" *ngIf="loader">
                        <img [src]="global_service.basePathLoader">
                    </div>
                    <div *ngIf="!isDataFound" class="dataCenter">Data Not Found</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





