.add-project{
	    text-align: right;
    padding: 0 20px;
}
.textRight{
	float: right!important;
}
.loader_gif{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    float: none;
    text-align: center;
   /*position: fixed;top: 25%; bottom: 0; right: 0; left: 0;margin: 0 auto; z-index: 11111;height: 100px;*/
}