<div class="container">
	<div class="row">
		
<!-- Mixins-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>Login Here:</h1>
</div>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)='login()'>
      <div class="input-container">
        <input type="text" id="Username" required="required" formControlName ='username' autofocus='' email/>
        <label for="Username" >Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="Password" required="required" formControlName ='password'/>
        <label for="Password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button class="btn btn-info btn-block login" type="submit" [disabled]="!loginForm.valid">
          <span>Login</span>
          <span class="glyphicon glyphicon-refresh spinning" *ngIf='loader'></span>
          </button>
      </div>
      <div class="footer"><a (click)="forgotPassword()" style="cursor: pointer;">Forgot your password?</a></div>
    </form>
  </div>

  <div class="card alt">
    <div class="toggle" (click)="openRegister()"></div>
    <h1 class="title">Register
      <div class="close"></div>
    </h1>
    <form>
      <div class="input-container">
        <input type="text" id="Username" required="required"/>
        <label for="Username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="Password" required="required"/>
        <label for="Password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="Repeat Password" required="required"/>
        <label for="Repeat Password">Repeat Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Next</span></button>
      </div>
    </form>
  </div>
</div>
<!-- Portfolio--><a id="portfolio" href="http://pkshopy.com/farooqshad/" title="View my portfolio!"><i class="fa fa-link"></i></a>
	</div>
</div>

<script>

  </script>