<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Teams Rcords</h4>
                        <p class="category">Team listing corresponding to projects.</p>
                    </div>
                    <div class="add-project">
                        <a (click)="addTeam()" class="btn btn-danger btn-round">Add More Teams</a>
                     </div>   
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>S.No</th>
                                    <th>Team Name</th>
                                    <th>Description</th>
                                    <th>Team Manager</th>
                                    <th>Team Leads</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let team of teams; let i =index">
                                    <td>{{i+1}}</td>
                                    <td>{{team?.teamName}}</td>
                                    <td>{{team?.teamDesc}}</td>
                                    <td>{{team?.teamManager}}</td>
                                    <td>
                                    	<ul *ngFor="let tl of team?.teamLeads; let j=index1">
                                    		<li>{{tl.teamLeadName}}</li>
                                    	</ul>
                                   </td>
                                    <td class="text-center">
                                         <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons" (click)="editTeam(team)">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="material-icons" (click)="deleteTeam(team)">close</i>
                                        </button>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



