<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Your Todo List.</h4>
                        <p class="category">Here you can pick, any task and finish it by mentioned date.</p>
                    </div>
                    <div class="add-project">
                        <a (click)="addTask()" class="btn btn-danger btn-round">Add More Tasks</a>
                     </div>   
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>S.No</th>
                                    <th>Task Name</th>
                                    <th>Description</th>
                                    <th>Assigned By</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of tasks; let i =index">
                                    <td>{{i+1}}</td>
                                    <td>{{task?.taskName}}</td>
                                    <td>{{task?.taskDesc}}</td>
                                    <td>{{task?.assignedBy}}</td>
                                    <td>{{task?.startDate}}</td>
                                    <td>{{task?.endDate}}</td>
                                    <td class="text-center">
                                         <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons" (click)="editTask(task)">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="material-icons" (click)="deleteTask(task)">close</i>
                                        </button>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



